
<div class="container" ng-init="EPL2.eplDatas()">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-12 mt-4">
				<input type="text" class="form-control" value="Matchday" placeholder="Ex...Matchday 2" ng-model="matchSearch" />
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mt-4">
				<input type="text" class="form-control" placeholder="Ex...Liverpool" ng-model="team1Search" />			
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mt-4">
				<input type="text" class="form-control" placeholder="Ex...Manchester United" ng-model="team2Search" />			
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mt-4">
				<input type="text" class="form-control" placeholder="Ex...2015-08-08" ng-model="dateSearch" />			
			</div>
	</div>
	<br> </br>
	<table class="table table-inverse table-sm table-hover table-condensed table-responsive"  style="text-align: center; background-color: #3B252A;">
		<thead>
			<tr>
				<th  style="text-align: center;"> Match Day </th>
				<th  style="text-align: center;"> Date </th>
				<th  style="text-align: center;"> Team1 </th>
				<th  style="text-align: center;"> Team2 </th>
			</tr>
		</thead>
		<tbody ng-repeat="data in EPL2.datass | filter:matchSearch">
			<tr ng-repeat="pi in data.matches | filter:team1Search | filter:team2Search | filter:dateSearch">
				<td> <a href="#!epl_16_17/{{pi.date}}/{{pi.team1.code}}/{{pi.team2.code}}"> {{data.name}} </a></td>
				<td> {{pi.date}} </td>
				<td> <a href="#!epl_16_17/teamDetails/{{pi.team1.code}}"> {{pi.team1.name}}</a>
				</td>

				<td> <a href="#!epl_16_17/teamDetails/{{pi.team2.code}}"> {{pi.team2.name}}</a>	</td>
				<td>  </td>
			</tr>
		</tbody>		
	</table>

</div>
