<div  ng-controller="leagueSummary as teamCtrl" ng-init="teamCtrl.statistics()" >
   <h4 style="text-align: center; padding-top: 20px;">Filter Result By using Search Boxes</h4>
   <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mt-4">
         <input type="text" class="form-control" placeholder="Team" ng-model="team1Search.team" />      
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mt-4">
         <input type="text" class="form-control" placeholder="Wins" ng-model="wins.wins" />      
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mt-4">
         <input  type="text" class="form-control colHid3" placeholder="Losses" ng-model="losses.losses" />
      </div>
   
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mt-4">
         <input  type="text" class="form-control colHid3" placeholder="Draws" ng-model="draws.draws" />
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mt-4">
         <input  type="text" class="form-control colHid1" placeholder="Goals Scored" ng-model="goalScored.goalScored" />
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mt-4">
         <input  type="text" class="form-control colHid1" placeholder="Goals Conceded" ng-model="goalsConceded.goalsConceded" />
      </div>
   </div>
   <!--End of Row-->
   <br>
   <table class="table table-responsive table-bordered"  style="text-align: center; ">
      <thead>
         <tr>
            <th  style="text-align: center;"> Teams </th>
            <th  style="text-align: center;"> Matches </th>
            <th  style="text-align: center;"> Wins </th>
            <th  style="text-align: center;"> Losses </th>
            <!-- <th class="colHid4" style="text-align: center;"> Goals Scored/Conceded </th>
          -->  <th  class="colHid3" style="text-align: center;"> Draws </th>
            <th class="colHid2" style="text-align: center;"> Goals Scored </th>
            <th  class="colHid1" style="text-align: center;"> Goals Conceded </th>

            <th  class="colHid1" style="text-align: center;"> Win % </th>
         </tr>
      </thead>
      <tbody ng-repeat="data in teamCtrl.jsonArr.teamss | filter:team1Search | filter:wins | filter:losses | filter:team1Search | filter:goalScored | filter:goalsConceded | filter:draws" ng-hide="epl1"">
         <tr></tr>
         <td> <a ng-href="#!{{teamCtrl.type}}/teamDetails/{{data.t1code}}">  {{ data.team }} </a></td>
         <td  > {{ data.totalMatches }} </td>
         <td > {{ data.wins }}</td>
        <!-- <td class="colHid4" > {{data.losses}}</td>
         
        --> <td  > {{data.losses}}</td>
         <td class="colHid3"> {{data.draws}} </td>
         <td class="colHid2" > {{ data.goalScored }}</td>
         <td class="colHid1"> {{data.goalsConceded}} </td>
          <td class="colHid1"> {{(data.wins/data.totalMatches)*100  |  number : 2}} </td>
         </tr>
      </tbody>
   </table>
</div>
<!--End of Container-->



  