<div class="container" ng-controller="leagueSummary as teamCtrl" ng-init="teamCtrl.statistics()" >
   <h4 style="text-align: center; padding-top: 20px;">Filter Result By using Search Boxes</h4>
   <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-4 mt-4">
         <input type="text" class="form-control" placeholder="by team" ng-model="team1Search" />      
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-4 mt-4">
         <input type="text" class="form-control" placeholder="by wins" ng-model="wins" />      
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-4 mt-4">
         <input type="text" class="form-control" placeholder="by losses" ng-model="losses" />
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-4 mt-4">
         <input type="text" class="form-control" placeholder="by goalsScored" ng-model="goalScored" />
      </div>
   </div>
   <!--End of Row-->
   <br>
   <table class="table table-hover   table-responsive table-bordered"  style="text-align: center; ">
      <thead>
         <tr>
            <th  style="text-align: center;"> Team </th>
            <th  class="colHid1 colHid2" style="text-align: center;"> Total Matches </th>
            <th  style="text-align: center;"> draws </th>
            <th class="colHid1 colHid2" style="text-align: center;"> Losses </th>
            <th  style="text-align: center;"> wins </th>
            <th class="colHid2" style="text-align: center;"> Goals Scored </th>
            <th  class="colHid3" style="text-align: center;"> Goals Conceded </th>

            <th  style="text-align: center;"> Goals Conceded </th>
         </tr>
      </thead>
      <tbody ng-repeat="data in teamCtrl.jsonArr.teamss | filter:team1Search | filter:wins | filter:losses | filter:team1Search | filter:goalScored" ng-hide="epl1"">
         <tr></tr>
         <td> <a ng-href="#!{{teamCtrl.type}}/teamDetails/{{data.t1code}}">  {{ data.team }} </a></td>
         <td class="colHid1 colHid2" > {{ data.totalMatches }} </td>
         <td > {{ data.draws }}</td>
         <td class="colHid1 colHid2" > {{data.losses}}</td>
         <td> {{data.wins}} </td>
         <td class="colHid2" > {{ data.goalScored }}</td>
         <td class="colHid3"> {{data.goalsConceded}} </td>
          <td> {{data.wins}} </td>
         </tr>
      </tbody>
   </table>
</div>
<!--End of Container-->



  