<div class="container" ng-init="EPL.eplData()">
   <h4 style="text-align: center; padding-top: 20px;">Filter Result By using Search Boxes</h4>
   <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-4 mt-4">
         <input type="text" class="form-control" placeholder="Ex...Matchday 2" ng-model="matchSearch"/>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-4 mt-4">
         <input type="text" class="form-control" placeholder="Ex...Liverpool" ng-model="team1Search" />      
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-4 mt-4">
         <input type="text" class="form-control" placeholder="Ex...Manchester United" ng-model="team2Search" />      
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-4 mt-4">
         <input type="text" class="form-control" placeholder="Ex...2015-08-08" ng-model="dateSearch" />
      </div>
   </div>
   <!--End of Row-->
   <br>
   <table class="table  table-bordered table-hover table-responsive"  style="text-align: center;">
      <thead>
         <tr>
            <th  style="text-align: center;"> Match Day </th>
            <th class="colHid3" style="text-align: center;"> Date </th>
            <th  style="text-align: center;"> Team 1 </th>
            <th  style="text-align: center;"> Team 2 </th>
         </tr>
      </thead>
      <tbody ng-repeat="data in EPL.datas | filter:matchSearch">
         <tr ng-repeat="match in data.matches | filter:team2Search | filter:team1Search  | filter:dateSearch" ng-hide="epl1">
            <td > <a ng-href="#!{{EPL.type}}/matchDetails/{{match.date}}/{{match.team1.code}}/{{match.team2.code}}"> {{ data.name }} </a></td>
            <td class="colHid3"> {{ match.date }} </td>
            <td > <a ng-href="#!{{EPL.type}}/teamDetails/{{match.team1.code}}"> {{ match.team1.name }}</td>
            <td> <a ng-href="#!{{EPL.type}}/teamDetails/{{match.team2.code}}"> {{ match.team2.name }}</td>
      
         </tr>
      </tbody>
   </table>
</div>
<!--End of Container-->