
<h4 style="text-align: center; padding-top: 20px;">Filter Result By using Search Boxes</h4>

<div class="container" ng-controller="teamSpecific as teamSpe" ng-init="teamSpe.teamDetails()">

    <div class="row">
teamSpe
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-4 mt-4">
        <input type="text" class="form-control" placeholder="Ex...Matchday 2" ng-model="matchSearch"/>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-4 mt-4">
        <input type="text" class="form-control" placeholder="Ex...Liverpool" ng-model="team1Search" />      
      </div>
    

      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-4 mt-4">
        <input type="text" class="form-control" placeholder="Ex...Manchester United" ng-model="team2Search" />      
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-4 mt-4">
        <input type="text" class="form-control" placeholder="Ex...2015-08-08" ng-model="dateSearch" />
      </div>

  </div> <!--End of Row-->
  <br>

  <table class="table table-inverse table-hover table-sm table-condensed table-responsive"  style="text-align: center; background-color: #3B252A;">
    <thead>
      <tr>
        <th  style="text-align: center;"> Match Day </th>
        <th  style="text-align: center;"> Date </th>
        <th  style="text-align: center;"> Team 1 </th>
        <th  style="text-align: center;"> Team 2 </th>
      </tr>
    </thead>

    <tbody ng-repeat="data in teamSpe.jsonArr.teamss | filter:matchSearch | filter:team1Search | filter:team2Search | filter:dateSearch" ng-hide="epl1">
      
        <td style="color:white;"> <a ng-href="#!{{teamSpe.type}}/matchDetails/{{data.date}}/{{data.t1code}}/{{data.t2code}}"> {{ data.name }} </a></td>
        <td> {{ data.date }} </td>  
       <td style="color:white;"> <a ng-href="#!{{teamSpe.type}}/teamDetails/{{data.t1code}}"> {{ data.t1team }}</td>
        <td>  <a ng-href="#!{{teamSpe.type}}/teamDetails/{{data.t2code}}"> {{ data.t2team }}</td>
       
      </tr>
    </tbody>  
  </table>

</div> <!--End of Container-->

