<h4 style="text-align: center; padding-top: 20px;">Filter Result By using Search Boxes</h4>
<div class="container" ng-controller="teamSpecific as teamSpe" ng-init="teamSpe.teamDetails()">
   <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-4">
         <input type="text" class="form-control" placeholder="Matchday 2" ng-model="matchSearch.name"/>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-4">
         <input type="text" class="form-control" placeholder="Team1" ng-model="team1Search.t1team" />      
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-4">
         <input type="text" class="form-control" placeholder="Team2" ng-model="team2Search.team2.t2team" />      
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-4">
         <input type="text" class="form-control colHid3" placeholder="2015-08-08" ng-model="dateSearch.date" />
      </div>
   </div>
   <!--End of Row-->
   <br>
   <table class="table table-bordered table-hover  table-responsive"  style="text-align: center; ">
      <thead>
         <tr>
            <th  style="text-align: center;"> Match Day </th>
            <th  class="colHid3" style="text-align: center;"> Date </th>
            <th  style="text-align: center;"> Team 1 </th>
            <th  style="text-align: center;"> Team 2 </th>
         </tr>
      </thead>
      <tbody ng-repeat="data in teamSpe.jsonArr.teamss | filter:matchSearch | filter:team1Search | filter:team2Search | filter:dateSearch" ng-hide="epl1">
         <td > <a ng-href="#!{{teamSpe.type}}/matchDetails/{{data.date}}/{{data.t1code}}/{{data.t2code}}"> {{ data.name }} </a></td>
         <td class="colHid3"> {{ data.date }} </td>
         <td > <a ng-href="#!{{teamSpe.type}}/teamDetails/{{data.t1code}}"> {{ data.t1team }}</td>
         <td>  <a ng-href="#!{{teamSpe.type}}/teamDetails/{{data.t2code}}"> {{ data.t2team }}</td>
         </tr>
      </tbody>
   </table>
</div>
<!--End of Container-->